<!-- close content div -->
</div>

<!-- footer -->
<footer class="site-footer">
    <div class="container">
        <div class="site-footer-inner">
            <div class="brand footer-brand">
                <a href="#">
                    <img class="header-logo-image" src="dist/images/logo.svg" alt="Logo">
                </a>
            </div>
            <div class="footer-copyright">&copy; {global.yearCreated} {global.companyName}</div>
        </div>
    </div>
</footer>
<!-- close the page wrapper -->
</div>

<!-- close body tag -->
</body>

<!-- close document -->
</html>